
[submodule "packages/proxy"]
	path = packages/proxy
	url = git@github.com:bresnow/traefik-proxy.git
	branch = master

[submodule "packages/remix"]
	path = packages/remix
	url = git@github.com:bresnow/remix.gun.git
	branch = master

[submodule "packages/aminion"]
	path = packages/aminion
	url = git@github.com:bresnow/aminion.git
	branch = master

[submodule "packages/server"]
	path = packages/server
	url = git@github.com:bresnow/remix.gun-server.git
	branch = master

[submodule "packages/ui"]
	path = packages/proxy
	url = git@github.com:bresnow/ui.git
	branch = master

